    html,
body {
margin: 0;
height:0;
padding: 0;
height: 100%;
width: 100%;
font-family: Ubuntu ,sans-serif;font-size: 22px;
background-color:#e0e0e0;

}
main{
    height: auto;

    }

    
.container {
    width: 100%;
    position:relative;
    height: auto;

    }
    .header img {
        height: 60px;
        width: 60px;
        }
      
    .content img {
width:250px;
height: 200px;

    }
    
.card img,.card-one{
    margin: 3%;
    background-color:rgb(132,136,139);
    width: 40%;

   
    }

    .social-media-icon img{
        width:22px;
        height:20px;
        }

        .header{
            background-color:rosybrown;
            width: 100%;
            height:63px;
            position: fixed;
            top:0px;
            
            }
            footer{
                background-color:rosybrown;
                width: 100%;
                height: 63px;
                position:sticky;
                bottom:0px;
                }
               
             
               
               .content li{
                  display:inline;
                  padding: 2%;
              }
              .content ul{
                margin-top: 5%;
                margin-left: 36%;
                margin-top: 6%;

              }
              .content li a{
                  font-size:20px;
                  text-decoration: none;
                  font-weight: bolder;
                  
              }

              .social-media-icon{
                margin-top:1.5%;
                float: right;
                margin-right:10px;
              } 
               
footer #c1{
    color:black;
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: 15px;
    }

    footer p{
        color:black;
        text-decoration: none;
        position: absolute;
        top: 25px;
        left:42%;
        font-size: medium;
      
        }
.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
}
.content,h1{
    font-size: 20px;
}
.content p{
    font-size: 15px;

}
.content a {
    text-decoration: none;
    color:black
}