

/* general styles */
section {
  display: flex;
  flex-direction: column;
}

/* toggle buttons styles */
ul {
  display: flex;
  gap: 2rem;
  padding-left: 0;
  place-content: center;
}

ul > li {
  list-style: none;
}

/* list view styles */
.hotel-images {
  height: 200px;
  width: 250px;
}

/* increased the width and margin twice the
   original because of the grid layout being 1fr 1fr */
.hotel-card {
  background-color: lightgray;
  display: flex;
  margin: 4% 8%;
  width: 80%;
}

.hotel-card:hover {
  background-color: rosybrown;
}

.hotel-card > div {
  margin-left: 5%;
  margin-top: 2%;
}

#list-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* media queries */

@media (max-width: 575.5px) {
  #list-view {
    display: flex;
    flex-direction: column;
  }
  .hotel-card {
    flex-direction: column;
  }
  .hotel-images {
    width: 100%;
  }
  #map-view {
    min-width: 100%;
  }

  #map-view > img {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  #list-view {
    display: flex;
    flex-direction: column;
  }

  #map-view {
    min-width: 100%;
  }

  #map-view > img {
    width: 100%;
  }
}
