/* general */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* hotel information  styles*/
.hotel-information {
  align-items: center;
  background-color: rgb(132, 136, 139);
  display: flex;
  height: 20%;
  margin: 2% auto;
  width: 50%;
}

.hotel-image {
  height: 200px;
  margin: 0;
  width: 270px;
}

.hotel-information > div {
  margin-left:5%;
}

/* bill info styles */

.bill-block {
  align-items: center;
  background-color: rosybrown;
  border: 1px solid black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-evenly;
  padding: 2% 0;
  margin: 0 2%;
}

.cursive {
  text-transform: capitalize;
}

/* media queries  */

@media (max-width: 575.98px) {
  .hotel-information {
    flex-direction: column;
    margin: 5% 1% 2%;
    width: 98%;
  }
  .bill-block {
    align-items: flex-start;
    flex-direction: column;
    padding: 2%;
  }

  .pay-now {
    align-self: center;
    min-width: max-content;
  }

  main {
    padding-bottom: 5rem;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .hotel-information {
    width: 75%;
  }

  .bill-block {
    padding: 2%;
  }
}
