html, body {
	margin: 0;
	height: 0;
	padding: 0;
	width: 100%;
	background-color: #e0e0e0;
	font-family: Ubuntu, sans-serif;
	font-size: 15px;
}
.con {
	width: 100%;
	position: relative;
	background-color: #e0e0e0;
}
.header img {
	height: 60px;
	width: 60px;
}
.content img {
	width: 300px;
	height: 200px;
}
main {
	min-height: cacl(100vh- 63px - 63px);
	padding-bottom: 10%;
}
.header {
	background-color: rosybrown;
	width: 100%;
	height: 63px;
	position: sticky;
	top: 0px;
}
footer {
	background-color: rosybrown;
	width: 100%;
	height: 63px;
	position: sticky;
	bottom: 0px;
}
.social-media-icon {
	margin-top: 1.5%;
	float: right;
	margin-right: 10px;
}
footer #c1 {
	color: black;
	text-decoration: none;
	position: absolute;
	top: 15px;
	left: 15px;
}
footer p {
	color: black;
	text-decoration: none;
	position: absolute;
	top: 25px;
	left: 42%;
	font-size: medium;
}
#img-one img {
	margin-left: auto;
	margin-right: 26%;
	text-align: center;
}
#img-one {
	background-color: rgb(132, 136, 139);
	width: 50%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 2%;
	display: flex;
	flex-wrap: nowrap;
}
.customer-info {
	margin: 2%;
}
.xo {
	margin: 2%;
	padding-top: 2.5%;
	padding-bottom: 1%;
	padding-left: 2%;
	padding-right: 2%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
#p {
	font-size: medium;
	font-weight: bolder;
	text-decoration: none;
}
.cont {
	padding-bottom: 30px;
	margin-top: 7.5%;
	margin-left: 24%;
}
.cont a {
	color: black;
}
.vvv {
	margin-left: 5%;
}
.vvv h1 {
	margin-top: 12%;
}
.info {
	height: 10%;
	width: 90%;
	display: flex;
	margin-left: 5%;
	border: 1px black solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background-color: rosybrown;
}
.btn-light {}
#login-button {
	margin-left: 94%;
	margin-top: -3.5%;
}
.btn-info {
	color: black;
	text-decoration: none;
	position: absolute;
	top: 15px;
	left: 30px;
}
.info strong {
	font-family: cursive;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
	html, body {
		margin: 0;
		height: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		font-family: Ubuntu, sans-serif;
		font-size: 15px;
		background-color: #e0e0e0;
	}
	.con {
		width: 100%;
		position: relative;
		background-color: #e0e0e0;
	}
	.info strong {
		font-family: cursive;

	}
	.header img {
		height: 60px;
		width: 60px;
	}
	.content img {
		width: 250px;
		height: 200px;
	}
	main {
		min-height: cacl(100vh- 63px - 63px);
	}
	.header {
		background-color: rosybrown;
		width: 100%;
		height: 63px;
		position: fixed;
		top: 0px;
	}
	footer {
		background-color: rosybrown;
		width: 100%;
		height: 63px;
		position: fixed;
		bottom: 0px;
	}
	.social-media-icon {
		margin-top: 1.5%;
		float: right;
		margin-right: 10px;
	}
	footer #c1 {
		color: black;
		text-decoration: none;
		position: absolute;
		top: 15px;
		left: 15px;
	}
	footer p {
		color: black;
		text-decoration: none;
		position: absolute;
		top: 25px;
		left: 42%;
		font-size: medium;
	}
	#img-one img {
		margin-left: auto;
		text-align: center;
	}
	#img-one {
		background-color: rgb(132, 136, 139);
		width: 80%;
		height: 200px;
		margin-left: 10%;
		margin-top: 15%;
		margin-bottom: 2%;
		display: flex;
		flex-wrap: nowrap;
	}
	.customer-info {
		margin: 2%;
	}
	.xo {
		margin: 2%;
		padding-top: 2.5%;
		padding-bottom: 1%;
		padding-left: 2%;
		padding-right: 2%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}
	#p {
		font-size: medium;
		font-weight: bolder;
		text-decoration: none;
	}
	.cont {
		padding-bottom: 30px;
		margin-top: 10%;
		margin-left: 0%;
	}
	.cont a {
		color: black;
	}
	.vvv {
		margin-left: 5%;
	}
	.vvv h1 {
		margin-top: 5%;
	}
	.info {
		height: 10%;
		width: 90%;
		display: flex;
		margin-left: 5%;
		border: 1px black solid;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		background-color: rosybrown;
	}
	.btn-light {
		margin-top: -20px;
	}
	#login-button {
		margin-left: 90%;
		margin-top: -3.5%;
	}
	.btn-info {
		color: black;
		text-decoration: none;
		position: absolute;
		top: 15px;
		left: 30px;
	}
}
@media screen and (max-width: 576px) {
	html, body {
		margin: 0;
		height: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		background-color: #e0e0e0;
		font-family: Ubuntu, sans-serif;
		font-size: 15px;
	}
	.con {
		width: 100%;
		position: relative;
		background-color: #e0e0e0;
	}
	.header img {
		height: 60px;
		width: 60px;
	}
	.content img {
		width: 250px;
		height: 200px;
	}
	main {
		min-height: cacl(100vh- 63px - 63px);
		padding-bottom: 40%;
	}
	.header {
		background-color: rosybrown;
		width: 100%;
		height: 63px;
		position: fixed;
		top: 0px;
	}
	footer {
		background-color: rosybrown;
		width: 100%;
		height: 63px;
		position: fixed;
		bottom: 0px;
	}
	.social-media-icon {
		margin-top: 1.5%;
		float: right;
		margin-right: 50px;
	}
	footer #c1 {
		color: black;
		text-decoration: none;
		position: absolute;
		top: 15px;
		left: 10px;
	}
	footer p {
		color: black;
		text-decoration: none;
		position: absolute;
		top: 25px;
		left: 29%;
		font-size: 10px;
	}
	#img-one img {
		margin-top: 20px;
		margin-left: 60px;
		text-align: center;
	}
	#img-one {
		background-color: rgb(132, 136, 139);
		width: 100%;
		height: 340px;
		margin-top: 25%;
		margin-bottom: 2%;
		display: grid;
	}
	.customer-info {
		margin: 2%;
	}
	.xo {
		margin: 2%;
		padding-top: 2.5%;
		padding-bottom: 1%;
		padding-left: 2%;
		padding-right: 2%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}
	#p {
		font-size: medium;
		font-weight: bolder;
		text-decoration: none;
	}
	.cont {
		position: absolute;
		left: 75px;
		top: 65%;
	}
	.vvv {
		margin-left: 5%;
	}
	.vvv h1 {
		margin-top: 0%;
		font-size: 30px;
		text-align: center;
	}
	.vvv p {
		text-align: center;
	}
	.info {
		height: 10%;
		width: 90%;
		display: flex;
		margin-left: 5%;
		margin-top: 5%;
		border: 1px black solid;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		background-color: rosybrown;
	}
	.btn-light {
		margin-top: -20px;
	}
	#login-button {
		margin-left: 72%;
		margin-top: -8%;
	}
	.btn-info {
		color: black;
		text-decoration: none;
		position: absolute;
		top: 15px;
		left: 30px;
	}
	.info strong {
		font-family: cursive;
		font-weight:bolder;
	}
}